*
{
	margin: 20px;
	padding: 90px;
}



body

{
	background: #ffffff;
	border: 20px solid;
	border-color:#ffffff;
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 10px;
	margin-left: 100px;
}

h1 {

	color: #a3b9d8;
	font-family: Montserrat;
	font-size: 22;

}

h2 {

	color: #a3b9d8;
	font-family: Montserrat;
	font-size: 18;

}

h3 {

	color: #a3b9d8;
	font-family: Montserrat;
	font-size: 14;

}

h5 {

	color: #a3b9d8;
	font-family: Montserrat;
	font-size: 10;

}

h4 {

	color: #5b5b5f;
	font-family: Roboto;
	font-size: 14;
	font-weight: bold;

}
.main-nav
{
	float:left;
	list-style: none;
	margin-top: 0px;
	margin-bottom: 10px;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a{

	color:#a3b9d8;
	text-decoration: none;
	padding: 5px 20px;
	margin-right: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
}

.main-nav li.active a {

	color: #f27a6c;
}

.main-nav li a:hover
{

	color: #f27a6c;
}

.collageweek1
 {

	height:20px;
}
