*
{
	margin: 0px;
	padding: 10px;
}




body

{
	background-image: url();
	background-color:#ffffff;
  background-position: center;
	background-size: cover;
	height:120vh;
}

h1 {

	color: #f59a7b;
	font-family: Montserrat;
	font-size: 22;

}

h2 {

	color: #f59a7b;
	font-family: Montserrat;
	font-size: 18;

}

h3 {

	color: #f59a7b;
	font-family: Montserrat;
	font-size: 22;
}

h5 {

	color: #f59a7b;
	font-family: Montserrat;
	font-size: 12;
	font-weight: normal;

}

//Bootcamp

ul.bootcamp{
	margin:0px;
	paddin:0px;
}
.bootcamp
{

	list-style: none;
padding:0px;
margin:0px;
}

.bootcamp li
{
  display: inline-block;
	text-align: center;
		color:#868288;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight:bold;
}



.bootcamp li a{

	color:#868288;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight:bold;
}

.bootcamp li.active a {

	color: #f59a7b;
}

.bootcamp li a:hover
{

		color: #f59a7b;
}


.